/* Close Button */

.close {
  all: unset;
  cursor: pointer;
  height: 18px;
  margin-left: 8px;
}

.close > img {
  height: 100%;
  width: auto;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(26deg)
    brightness(107%) contrast(108%);
}

.burger {
  width: 48px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-right: 1px solid #d0d1d3;
}

/* Burger Button */

.burger:focus {
  outline: none;
}

.burger > span {
  width: 60%;
  height: 1.6px;
  background: #525252;
  display: block;
  margin: 9px 6.4px;
}

.burger > span:nth-of-type(2) {
  width: 40%;
}

/* Menu Button */

.menu {
  all: unset;
  padding: 6px 8px;
  color: #000;
  cursor: pointer;
  min-width: 64px;
  text-align: center;
}

.mobile {
  padding: 8px 16px;
  color: #666;
  border: 1px solid #d0d1d3;
  border-top: none;
  font-size: 14px;
}

.mobile:hover {
  color: #000;
  background-color: #d0d1d3;
}

.mobile-active,
.mobile-active:hover {
  padding: 8px 16px;
  border: 1px solid #d0d1d3;
  border-top: none;
  font-size: 14px;
  background: #000;
  border-color: #000;
  color: #fff;
}

.desktop-active,
.desktop-active:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}
