.container {
  display: flex;
  justify-content: center;
}

.container > div {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  padding: 0 8px;
}

@media (max-width: 768px) {
  .container {
    border-bottom: 1px solid #d0d1d3;
  }
}

/* Infobar */
.infobar {
  background-color: #3e1062;
}

.infobar > div {
  justify-content: center;
}

@media (max-width: 768px) {
  .infobar {
    display: none;
  }
}

/* Navbar */
.navbar {
  padding: 8px 0px;
  text-align: center;
}

/* Searchbar */
.searchbar {
  display: none;
}
.searchbar > div {
  padding: 0px;
}
@media (max-width: 768px) {
  .searchbar {
    display: flex;
  }
}

/* Hero */
.hero {
  background-color: #2e5492;
  padding-top: 48px;
  border-bottom: none;
}
.hero > div {
  align-items: flex-start;
  gap: 32px;
}
@media (max-width: 768px) {
  .hero > div {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
}

/* Products */
.products {
  background-color: #84bce5;
}

/* Newsletter */
.newsletter {
  background-color: #efeff0;
  margin-bottom: 36px;
  border-bottom: none;
}
@media (max-width: 768px) {
  .newsletter > div {
    flex-direction: column;
  }
}

/* FAQs */
.faqs {
  background-color: transparent;
}
.faqs > div {
  max-width: 960px;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .faqs {
    background-color: #efeff0;
    border-bottom: none;
  }
  .faqs > div {
    padding: 0px;
  }
}

/* Footer */
.footer {
  background-color: #1a1a1a;
  color: #fff;
}
.footer > div {
  align-items: flex-start;
}
@media (max-width: 768px) {
  .footer > div {
    flex-direction: column;
    align-items: center;
  }
}
