.cart {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart > ul {
  width: 100%;
  max-width: 300px;
  list-style-type: none;
  padding: 0;
}

.cart > div {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.cart > button {
  margin-top: 32px;
  width: 100%;
  max-width: 220px;
  background-color: #ff6900;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

section > button:first-child {
  margin-top: 0px;
  max-width: unset;
}
