.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 16px;
}

@media (max-width: 768px) {
  .heading {
    align-items: center;
    padding: 32px 0px;
  }
}
