.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 10;
}

.modal {
  position: fixed;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  left: 30%;
  top: 25%;
  width: 40%;
  background-color: #fff;
  overflow: scroll;
  z-index: 10;
}

.favorites {
  overflow-y: scroll;
  overflow-x: hidden;
  top: 5%;
  bottom: 10%;
  left: 30%;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal {
    left: 5%;
    width: 90%;
  }

  .favorites {
    left: 5%;
    width: 90%;
  }
}
