:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color: #1a1a1a;
  background-color: #ffffff;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2,
h3 {
  font-size: 22px;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  
  h2,
  h3 {
    font-size: 18px;
  }
}
